body{
    background-color: rgb(30, 30, 30);
    color: white;
    }
body.light-mode{
    background-color: rgb(249, 249, 249);
    color: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    position: absolute;/* first 4 lines center the container*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;/* makes it not pointy*/
    width: 80%;
    height: 30%;
    display: flex;
    user-select: none;
    }
    .box1{
        display: flex;/* for some known reason these 3 lines center text*/
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        height: 100%;
        width: 100%;
        background-color: rgb(60, 60, 60);
        border-radius: 10px;
        cursor: pointer;
        }
body.light-mode .box1{

background-color: #1f2937;
}

@media  (max-width: 600px){
    .container{
        top: 45%;
        display: grid;
        }
        .box1{
            margin-top: 10px;
            height: 90%;

    }
}


nav{
    height: 5vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
nav.light-mode{
background-color: #1f2937;
}
.links{
	margin: 2%;
	width: 30vh;
	display: flex;
	justify-content: space-between;
}
.logo{
	margin: 2%;
	user-select: none;
        cursor: pointer;
        
}

.cursuri{
	user-select: none;
	cursor: pointer;
}

.home{
	user-select: none;
	cursor: pointer;
}
.light-mode{
	user-select: none;
	cursor: pointer;
}
  
